<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire de retour</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- Afficher les messages flash -->
    <!-- {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %} -->
    <form id="feedback-form" action="/submit_feedback" method="POST" enctype="multipart/form-data">
        <img src="../static/img/logo-dc.png" id="logo" />
        <h2>Votre retour sur la formation</h2>
        <div class="form-group">
            <label for="bootcampname">Nom du bootcamp :</label>
            <select id="formation" name="formation" required>
                <option value="">Sélectionnez une formation</option>
                <option value="data_engineering">Data Engineering</option>
                <option value="data_science">Data Science</option>
                <option value="web_development">Développement Web</option>
                <option value="cyber_security">Cybersécurité</option>
                <option value="artificial_intelligence">Intelligence Artificielle</option>
                <option value="cloud_computing">Cloud Computing</option>
            </select>
        </div>
        <div class="form-group">
            <label for="prioriteRetour">Priorité de retour</label>
            <select id="prioriteRetour" name="prioriteRetour" required>
                <option value="faible">Faible</option>
                <option value="moyenne">Moyenne</option>
                <option value="haute">Haute</option>
            </select> 
        </div>       
        <div class="form-group">
            <label for="score">Type de retour</label>
            <select id="typeRetour" name="typeRetour" required>
                <option value="">Sélectionnez un type de retour</option>
                <option value="contenu_cours">Contenu du cours</option>
                <option value="formateur">Formateur</option>
                <option value="methodes_pedagogiques">Méthodes pédagogiques</option>
                <option value="equipements">Équipements</option>
                <option value="support_cours">Support de cours</option>
                <option value="activites_extra">Activités extra-scolaires</option>
                <option value="environnement_apprentissage">Environnement d'apprentissage</option>
                <option value="communication">Communication</option>
                <option value="axe_amelioration">Axe d'amélioration</option>
            </select>
        </div>
        <div class="form-group">
            <label for="date">Date :</label>
            <input type="date" id="date" name="date" required>
        </div>
        <div class="form-group">
            <label for="rating">Évaluation :</label>
            <input type="range" id="rating" name="rating" min="1" max="5" required>
            <span id="ratingvalue"></span>
        </div>
        <div class="form-group">
            <label for="comments">Commentaires :</label>
            <textarea id="comments" name="comments" rows="4" required></textarea>
        </div>
        <div class="form-group">
            <label for="attachedfiles" class="label-file">Pièces jointes :</label>
            <input type="file" id="attachedfiles" name="attachedfiles">
        </div>

        <div class="form-group">
            <label>
                <input type="checkbox" id="consentement" name="consentement" required>
                J'accepte que mes données soient traitées dans le cadre de cette enquête.
            </label>
        </div>
        <button type="submit">Soumettre</button>
    </form>
     
    <!-- Script pour gérer les messages SweetAlert -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Récupérer les messages flash via Jinja2
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        // SweetAlert
                        Swal.fire({
                            title: "{{ 'Succès' if category == 'success' else 'Erreur' }}",
                            text: "{{ message | safe }}", // Utilisez `safe` pour inclure les chaînes telles quelles
                            icon: "{{ category }}", // 'success' ou 'error'
                            timer: 3000, // 3 secondes
                            timerProgressBar: true,
                            showConfirmButton: false
                        });
                    {% endfor %}
                {% endif %}
            {% endwith %}
        });
    </script>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="../static/js/script.js"></script>
</html>
